@import "variables";
.App {
    text-align: $myCenter;
    margin:auto;
}
.App li{
    list-style: none;
    color:$myColor;
}
#X:hover{
    background-color: $myColor;
    border-color: $myColor;
}
#new:hover{
    background-color: $newColor;
    border-color: $newColor;
    color:$white;
}
